.about-us {
    padding: 471px 0 122px;
    position: relative;
    background: #edf0f1;
}

.popup-about {
    width: 1140px;
    box-sizing: border-box;
    padding: 75px 186px;
    position: absolute;
    top: -180px;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(228, 226, 226);
    background-color: #fff;
}

.popup-about .title {
    margin-bottom: 30px;
}

.popup-about .description {
    margin-bottom: 64px;
    color: #2c3e50;
}

.team {
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
}

.person {
    text-align: center;
}
