.container {
    margin: 0 auto;
    width: 1146px;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    color: #2c3e50;
}

.title-x {
    margin-bottom: 70px;
    position: relative;
}

.title-x::after {
    content: "\f00d";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Font Awesome 5 Free";
    font-size: 35px;
    font-weight: 900;
    color: #3498db;
}

.description {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.75;
    text-align: center;
    text-transform: uppercase;
}

.read-more {
    box-sizing: border-box;
    padding: 30px 81px;
    display: block;
    border: 1px solid #3498db;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background-color: #3498db;
    cursor: pointer;
}

.person-photo, .member-img {
    height: 220px;
    width: 220px;
    margin-bottom: 39px;
}

.person-name, .person-pos, .member-name {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.75;
    text-align: center;
    text-transform: uppercase;
    color: #2c3e50;
}  