.footer {   
    padding: 66px 0 53px;
    background-color: #2c3e50;
}

.footer .container .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-list {
    display: flex;
}

.nav-list {
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.nav-list a {
    color: #ecf0f1;
}

