.hero {
    padding: 55px 0 376px;
    background: #3498db;
}

.header {
    margin-bottom: 230px;
    display: flex;
    justify-content: space-between;
    background-color: #3498db;  
}

.nav {
    font-size: 35px;
    color: #fff;
    cursor: pointer;
}

.logo {
    height: 35px;
    width: 150px;
    overflow: hidden;
}

.greeting, .slogan {
    margin-bottom: 47px;
    display: block;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #ecf0f1;
}

.greeting {
    font-size: 86px;
}

.slogan {
    font-size: 60px;
}