.minim {
    padding: 98px 0 312px;
    position: relative;
    background: #edf0f1;
}

.minim .title {
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
}

.items-list {
    position: absolute;
    top: 310px;
    display: flex;
    gap: 30px;
}

.popup-minim {
    box-sizing: border-box;
    width: 555px;
    padding: 77px 50px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(228, 226, 226);
    background-color: #fff;
}

.popup-minim .title {
    margin-bottom: 31px;
}

.popup-minim .description {
    margin-bottom: 63px;
    color: #2c3e50;
}
