.our-team {
    padding: 106px 0;
    background: #edf0f1;
}

.our-team .title {
    margin-bottom: 40px;
    text-align: center;
    color: #2c3e50;
}

.our-team .description {
    max-width: 750px;
    margin: 0 auto 72px;
    color: #2c3e50;
}

.member-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.member-list .member-photo {
    height: 220px;
    width: 220px;
    margin-bottom: 29px;
}

.member-list h3 {
    margin-bottom: 19px;
}

.biography {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.88;
    color: #2c3e50;
}

.socials {
    margin: 31px auto 0;
    display: flex;
    justify-content: center;
}

.social-logo-fb, .social-logo-tw, .social-logo-gp {
    box-sizing: border-box;
    height: 34px;
    width: 34px;
    margin: 0 9px;
    padding-top: 6px;
    font-size: 22px;
}
.social-logo-fb {
    background-color: #1a5ba0;
}

.social-logo-tw {
    background-color: #00aee4;
}

.social-logo-gp {
    background-color: #ff361b;
}

.social-logo-fb a, .social-logo-tw a, .social-logo-gp a {
    color: white;
}