.our-clients {
    padding: 450px 0 128px;
    background: #9b59b6;
}

.our-clients .title {
    margin-bottom: 86px;
    text-align: center;
    color: #fff;
}

.partners {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partners li {
    max-width: 192px;
}

.partners img {
    filter: brightness(0) invert(1);
}
