.projects {
    padding: 100px 0 118px;
    background-color: #27ae60;
}

.projects .title {
    margin-bottom: 41px;
    text-align: center;
    color: #fff;
}

.projects .description {
    width: 750px;
    margin: 0 auto 75px;
    color: #fff;
}



